table{
    width: 100%;
}

.container{
    padding: 50px 80px;
}


.waves-effect waves-light btn, material-icons left{
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
}

.file-input {
    display: none;
  }